!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{:lang => "en"}
	%head
		= render 'application/fb_login_popup_closer'
		= render 'application/html_head', args: {}
		= render 'application/header_styles'
		= render 'application/header_scripts'
	%body.home.blog
		#page.site
			= render 'application/site_header'
			/ content
			#content.site-content
				#primary.content-area
					%main#main.site-main{:role => "main"}
						= render 'application/flash'
						= yield
						-# .container
							.row
								/ article
								.col-md-8
									= yield
								/ .col-md-8
								- cache( 'application/site_sidebar', expires_in: 1.hour ) do
									/ sidebar
									.col-md-4
										= render 'application/site_sidebar'
									/ .col-md-4
							/ .row
						/ .container
					/ #main
				/ #primary
			/ #content
			- cache( 'application/footer' ) do
				= render 'application/footer'
		/ #page
		- cache( 'application/footer_scripts' ) do
			= render 'application/footer_scripts'
