
/ site-footer
%footer#colophon.site-footer{:role => "contentinfo"}
	/ footer subscribe
	.footer-subscribe
		.container
			.row
				.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
					%h3.subscribe-title Subscribe
					%p Subscribe your e-mail address and get fresh stuff through email notifications.
					= form_for SwellMedia::Contact.new, url: swell_media.contacts_path(), html: { class: 'form-inline' } do |f|
						= f.hidden_field :subject, value: 'OptIn'
						= f.hidden_field :message, message: 'OptIn'
						.form-group
							= f.email_field :email, class: 'form-control', :placeholder => "Your email address"
						%button.btn.btn-default{:type => "submit"} Sign up
					/ .form-inline
				/ .col-##
			/ .row
		/ .container
	/ .footer-subscribe
	-# if User.me.social_id(:instagram).present?
		/ footer instagram
		.footer-instagram
			.instagram-title
				%h3
					insta
					%i.fa.fa-instagram
					gram
				%span.instagram-subtitle Know me better
			.instagram-widget
				%ul
					- SwellMedia::Article.published.order( publish_at: :desc ).limit(6).each do |media|
						%li
							%a{:href => media.url}
								%img{:alt => media.title, :src => media.avatar}/

				%p.instagram-follow
					%a.btn.btn-default{:href => "http://instagram.com/#{User.me.social_id(:instagram)}", :target => "_blank"} @#{User.me.social_id(:instagram)}
		/ .footer-instagram
/ #site-footer
/ copyright
-# %section#copyright.copyright
	.container
		.row
			.col-sm-12
				Copyright © 2016
				= succeed "." do
					%a{:href => "http://templateninja.net", :target => "_blank"}
						%strong Astrif
			/ .col-sm-6
		/ .row
	/ .container
/ #copyright